	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img id='user' src="/img/user.png" alt="Samantha">
					<h1>About Samantha!</h1>
					<p>Hello again everybody! Thanks for looking at more of my site! Look below for a bit of information about me and some of my skills. I am a pretty awesome person, if I do say so myself. If you want to know more about me, send me a message on Facebook or Tumblr. I love chatting with new and interesting people! </p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-book"></span>
				<p>My favorite book series is 'The Hollows' by <a href="http://kimharrison.net/">Kim Harrison.</a> It is a 13 book long series, but it is well worth the read if you enjoy fantasy like I do!</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p>I am currently attending Mercer University in Macon, Ga. My Major is Communications and my two minors are Art and Media Studies.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-tree-conifer"></span>
				<p>I have two adorable dogs: Jamison and Zach. I love the little dears to death, but I am not strictly a dog person. I love cats too!</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-headphones"></span>
				<p>I like all kinds of music and will listen to just about anything. The only genres I have problems with are rap and country.</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>MY SKILLS </h4>
				<p>I have a lot of different skills that can be used for everyday life and the job I will land after college. I can code in HTML, CSS, Ruby and even a little bit of Sinatra. I know a lot of tips and tricks for both Indesign and Photoshop, but that isn't all! I am also talented with charcoal, clay and drawing pencils. During my time at Mercer University I took a number of interesting and useful classes that I can put to good use for my employer as well as my friends and family!</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
                <h4>Visual Representation of Skills </h4>
				Indesign
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">75% Complete</span>
					</div>
				</div>

				Photoshop
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						<span class="sr-only">40% Complete</span>
					</div>
				</div>
				
				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
						<span class="sr-only">65% Complete</span>
					</div>
				</div>
                
                Paint/Other Physical Mediums
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->