
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img id='user' src="/img/user.png" alt="Samantha">
					<h1 id='home title'>Hi, I am Samantha!</h1>
					<p>Hello everybody! My name is Samantha, a weird, happy, hard-working college senior. I enjoy doodling, singing when no one is listening, dancing like no one is watching, and learning new things. I give 110% to everything I do, even this bootstrap site that I changed to make it my own! It is pretty awesome and shows off a bit of my nail art as well as some work related talents on the about page.  </p>
					<p>Consider taking a look at my <a href="https://github.com/SamBall2393" target="_blank">Github</a> (where all of my coding for this site is hiding) and taking a look at the rest of my site!</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

	
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="http://instagram.com/p/v133wGkJo3/?modal=true" target="_blank"><img class="img-responsive" src="/img/portfolio/port01.jpg" alt="Nail art of circuits" /></a>
				<p>Circuits</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="http://instagram.com/p/v13h8GkJm7/?modal=true" target="_blank"><img class="img-responsive" src="/img/portfolio/port02.jpg" alt="Nail art of cupcakes" /></a>
				<p>Cupcakes</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="http://instagram.com/p/v13vmKEJoC/?modal=true" target="_blank"><img class="img-responsive" src="/img/portfolio/port03.jpg" alt="Nail art of pandas" /></a>
				<p>Pandas</p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="http://instagram.com/p/v1yOtakJoG/?modal=true" target="_blank"><img class="img-responsive" src="/img/portfolio/port04.jpg" alt="Nail art of turkey" /></a>
				<p>Turkey</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="http://instagram.com/p/v13-j-EJph/?modal=true" target="_blank"><img class="img-responsive" src="/img/portfolio/port05.jpg" alt="Nail art of a fancy black and white design" /></a>
				<p>Fancy Design</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="http://instagram.com/p/v13qCCkJnj/?modal=true" target="_blank"><img class="img-responsive" src="/img/portfolio/port06.jpg" alt="Nail art of orange and yellow butterfly wings" /></a>
				<p>Butterfly Wings</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->