	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<h3>On Going Nail Design Hobby</h3>
				<hr>
				<p>This is just something that I do as a hobby where I will repaint my nails every week or every other week. What the art is depends on the time of year and up coming events. Sometimes they are my own designs and sometimes they are similar to ones I have seen online that I would like to try out myself. I really do enjoy painting my nails and though I am not ambidextrous, I can seem to make the right hand look just as good as the left.</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-3 centered">
				<p><img class="img-responsive" src="/img/portfolio/1.jpg" alt=""></p>
				<p><img class="img-responsive" src="/img/portfolio/2.jpg" alt=""></p>
				<p><img class="img-responsive" src="/img/portfolio/3.jpg" alt=""></p>
                <p><img class="img-responsive" src="/img/portfolio/4.jpg" alt=""></p>
                <p><img class="img-responsive" src="/img/portfolio/5.jpg" alt=""></p>
                <p><img class="img-responsive" src="/img/portfolio/6.jpg" alt=""></p>
            <div class="col-lg-8 col-lg-offset-1 centered">
                <p><bt>Client: Myself and Friends</bt> - <bt>Type: Paint/Nail Polish</bt>  <br><bt>Date: August 2011 - Now</bt></p>
			</div>
            </div>
		</div>
	</div>