	<div class="container">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h1>MY NAIL ART</h1>
				<hr>
				<p>All of these nail art pieces were done by myself on my own nails. </p>
            </div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="/work01"><img class="img-responsive" src="/img/portfolio/port01.jpg" alt="nail art consisting of computer circuts" /></a>
				<p>Circuits</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work01"><img class="img-responsive" src="/img/portfolio/port02.jpg" alt="nail art consisting of cupcakes on a light blue background" /></a>
				<p>Cupcakes</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work01"><img class="img-responsive" src="/img/portfolio/port03.jpg" alt="nail art consisting of panda bear faces" /></a>
				<p>Pandas</p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="/work01"><img class="img-responsive" src="/img/portfolio/port04.jpg" alt="nail art consisting of a turkey face and its feathers" /></a>
				<p>Turkey</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work01"><img class="img-responsive" src="/img/portfolio/port05.jpg" alt="nail art consisting of black, white and silver swirls, lines and dots" /></a>
				<p>Fancy Design</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/work01"><img class="img-responsive" src="/img/portfolio/port06.jpg" alt="" /></a>
				<p>Butterfly Wings</p>
			</div>
		</div>
	</div>